@model IEnumerable<MineSweeperAPI.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">NEW GAME!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XDimension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YDimension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBombs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameIsOver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XDimension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YDimension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBombs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameIsOver)
            </td>
            <td>
                @Html.ActionLink("Continue Playing", "Play", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
